
/* manage product area */
.manage-background{
    background: #e1f3f0;
    padding: 0px 0 40px;
}
.product-info .table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    color:#202452 !important;
    background: #f5dcdc;
}
.product-info .table td, .product-info .table-design.table th {
    border-top: none !important;
}
.border-left-design{
    border-radius: 6px 0 0 6px;
}
.border-right-design{
    border-radius: 0 6px 6px 0;
}
.product-info{
    background: white;
    padding: 30px 30px 10px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}
button.btn.delete-btn {
    background: #ff0000c7;
    color: white;
}

/* add product area */
.add-title{
    padding: 50px 30px 30px;
    color: #363958;
    font-weight: bolder;
} 
.form-area{
    background: #e1f3f0;
    height: 100vh;
}
.form-section{
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 50px;
}
.margin{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.form-section label{
    font-weight: 500;
    margin-top: 20px;
}